/* Variables */

@ethical-color: green;
@somewhat-ethical-color: goldenrod;
// @somewhat-ethical-color: gold;
// @somewhat-unethical-color: darkorange;
// @somewhat-unethical-color: goldenrod;
// @somewhat-unethical-color: #a94442;
@somewhat-unethical-color: darkred;
@unethical-color: red;

@border-color: #aaa;
@control-color: #fff;
@link-color: initial;

@default-border: 1px solid @border-color;

@medium-breakpoint: 992px;
@large-breakpoint: 1200px;

/* Put your custom styles here */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/* Pinegrow Blocks style overrides */
.promo-3 {
  
  h1 {
    font-size: 60px;
    color: #ffffff;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
   h2 {
    font-weight: normal;
    font-size: 2em;
    
    .btn {
      margin-left: 0;
    }
  }
}

.content-2-2 .icon-outline:hover {
    box-shadow: none;
    color: inherit;
}

select.form-control {
  -webkit-appearance: menulist-button;
  width: auto;
}

/* Page styles */
.flexWithWrap {
  display: flex;
  flex-wrap: wrap;
}

.flexWithoutWrap {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  background-color: #eee;
  box-shadow: 5px 0 15px -6px #585858 inset;
  padding: 0 20px;
  overflow: auto;
  
  h3 {
    text-align: center;
    font-weight: bold;
    border-bottom: @default-border;
    padding-bottom: 20px;
  }
  
  h4 {
    border-bottom: @default-border;
    padding-bottom: 10px;
  }
  
  section {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .typeControls, .levelReset {
    .form-group {
      margin-left: 15px;
    }
    
    .fa {
      margin-left: 2em;
    }
  }
  
  .fa {
    font-size: 1.5em;
  }
    

}

.faceContainer {
  img {
    border-radius: 50%;
    border: 3px solid whitesmoke;
    float: left;
    display: block;
    margin-right: 1em;
  }
}

@media (max-width: @large-breakpoint)  and (min-width: @medium-breakpoint) {
  .faceContainer {
    img {
      float: none;
      margin-right: 0;
    }
  }
}

.infoBlock {

  span {
    display: block;
    text-align: left;
    
    &.name {
      font-size: 1.2em;
      font-weight: bold;
    }
    
    &.hearts {
      font-size: 0.9em;
      margin-top: 5px;
      color: white;
    }
  }
}

.testimonialContent {
  padding: 10px;
}

.controlsTemplateWrapper {
  a, a:hover, a:active {
    color: @link-color;
  }

  &.open {
    border: 3px solid @border-color;
    padding: 10px;
    border-radius: 10px;
    border-style: dashed;
    display: inline-block;
    margin-top: 10px;

    /* Ethical classes */
    
    &.ethical {
      border-color: @ethical-color;
    }
    &.somewhatEthical {
      border-color: @somewhat-ethical-color;
    }
    &.somewhatUnethical {
      border-color: @somewhat-unethical-color;
    }
    &.unethical {
      border-color: @unethical-color;
    }
  }
  
  .controlsWrapper {
    
    color: #222;
    padding: 10px 5px 5px 5px;
    background-color: rgba(255,255,255,0.6);
    font-size: 1.25rem;
    text-align: left;
    border-radius: 6px;
    
    &.form-group {
      margin-bottom: 0;
    }
    
    .checkbox label, .radio label {
      font-size: 1.1em;
      line-height: 1.5;
    }
    
    .fa {
      font-size: 1.5em;
      margin-left: 2em;
    }
    
    .controlsInnerWrapper {
      padding: 5px;
    }
  }
}

.eyeControl, .gearControl {
  position: absolute;
  z-index: 105;
  top: 20px;
  right: 55px;
  color: @control-color;
}

.gearControl {
  right: 20px;  
}

a.eyeControl:hover, .gearControl:hover {
  color: @control-color;
}

.companyName {
  color: white;
  font-size: 2em;
  margin: 0;
}

.socialCount {
  color: white;
  text-align: center;
  display: table-footer-group;
  font-weight: bold;
  font-size: 1.1em;
}

.popover-title {
  color: #222;
  text-align: center;
  font-weight: bold;
}

.popover-content {
  color: #444;
}
/* Fade values for Vue transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
/* slide-fade values for Vue transitions */
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: opacity .3s
}
.slide-fade-enter, .slide-fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
