<!DOCTYPE html> 
<html lang="en" style="height:100%;">
    <head> 
        <meta charset="utf-8"> 
        <title>Market Like a Boss!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content="WPI, sufficiency, ethics, marketing, persuasion" />
        <meta name="description" content="A WPI Sufficiency project to show the ethics of different types of persuasion." />
        <link rel="shortcut icon" href="ico/favicon.png"> 
        <!-- Core CSS -->         
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:300,400,700,300italic,400italic,700italic">
        <!-- Style Library -->         
        <link href="css/style-library-1.css" rel="stylesheet">
        <link href="css/plugins.css" rel="stylesheet">
        <link href="css/blocks.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->         
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    </head>     
    <body data-spy="scroll" data-target="nav">
      <div id="app">
        <header>
          <transition name="fade">
            <a href="#" v-if="!controlsOpen" @click.prevent="controlsOpen = !controlsOpen" class="eyeControl" key="closed"><i class="fa fa-2x fa-eye"></i></a>
            <a href="#" v-else class="eyeControl" @click.prevent="controlsOpen = !controlsOpen" key="opened"><i class="fa fa-2x fa-eye-slash"></i></a>
          </transition>
            <a href="#" v-if="!sidebarOpen" @click.prevent="toggleControls" class="gearControl" key="sidebar-closed"><i class="fa fa-2x fa-cog"></i></a>
            <a href="#" v-else @click.prevent="toggleControls" class="gearControl" key="sidebar-opened"><i class="fa fa-2x fa-times"></i></a>
          <div id="promo-3" class="content-block promo-3 min-height-600px bg-deepocean headerWrapper">
            <div class="container text-center">
              <h1>Market Like a Boss!</h1>
              <h2 id="subHeader" class="pad30">
                <ethical-controls :show="typesToShow" :open="controlsOpen" :level="ethicalLevel">
                  <template scope="{theData}">
                    <text-element :type="4" :index="theData.currentIndex" :level="theData.currentLevel"></text-element>
                  </template>
                </ethical-controls>
              </h2>
            </div>
              <!-- /.container -->
          </div>
        </header>
        <main>
          <section id="content-1-9" class="content-1-9 content-block">
              <div class="container">
                  <div class="row flexWithWrap">
                      <div class="col-md-6 col-sm-6 col-xs-12 pad15" v-for="n in 4">
                          <div class="col-md-12 col-xs-10">
                            <ethical-controls :show="typesToShow" :type="n+1" :open="controlsOpen" :level="n-1">
                              <template scope="{theData}">
                                <text-element :index="theData.currentIndex" :type="theData.currentType" :level="theData.currentLevel"></text-element>
                              </template>
                            </ethical-controls>
                          </div>
                      </div>
                  </div>
                  <!-- /.row -->
              </div>
              <!-- /.container -->
          </section>
          <section id="content-2-2" class="content-block content-2-2 bg-pomegranate">
              <div class="container">
                  <!-- Start Row -->
                  <div class="row">
                    <div class="col-sm-6 col-md-3 col-xs-12" v-for="n in 4">
                      <ethical-controls :choices="testimonials.choices" :show="typesToShow" :type="n+1" :open="controlsOpen" :level="n-1">
                        <template scope="{theData}">
                          <testimonial-element :index="n">
                          </testimonial-element>
                          <div class="testimonialContent">
                            <text-element :index="theData.currentIndex" :type="theData.currentType" :level="theData.currentLevel"></text-element>
                          </div>
                        </template>
                      </ethical-controls>
                    </div>
                  </div>
                  <!--// END Row -->
              </div>
          </section>
          <section id="content-1-7" class="content-1-7 content-block">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12">
                        <ethical-controls :choices="ctas.choices" :show="typesToShow" :type="ctas.persuasiveType" :open="controlsOpen" :level="ctas.ethicalLevel">
                          <template scope="{theData}">
                           <button class="btn btn-primary btn-lg">
                              I want this!<br>
                                (<text-element :index="theData.currentIndex" :type="theData.currentType" :level="theData.currentLevel"></text-element>)
                            </button>
                          </template>
                        </ethical-controls>
                      </div>
                  </div>
                  <!--end of row-->
              </div>
              <!-- /.container -->
          </section>
        </main>
        <footer class="content-block-nopad bg-deepocean footer-wrap-1-3">
            <div class="container footer-1-3">
                <div class="col-md-4 pull-left">
                    <p class="companyName">Boss Marketing, Inc</p>
                    <ul class="social social-light">
                        <li>
                            <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
                        </li>
                    </ul>
                    <!-- /.social -->
                </div>
                <div class="col-md-3 pull-right">
                    <p class="address-bold-line">We <i class="fa fa-heart pomegranate"></i> our amazing customers</p>
                    <p class="address small">
					221B Baker Street,<br>
					London,<br>
					LO4 6ON</p>
                </div>
                <div class="col-xs-12 footer-text">
                    <p>Please take a few minutes to read our <a href="javascript:void(0);" tabindex="10" role="button" data-toggle="popover" data-trigger="focus" title="Terms & Conditions" data-content="This site is part of my Sufficiency Project at WPI. By using it, you agree that anything that happens whilst using it isn't my fault and that you won't sue.">Terms & Conditions</a> and <a href="javascript:void(0);" role="button" data-toggle="popover" data-trigger="focus" tabindex="11" title="Privacy Policy" data-content="Any identifying information related to voting is destroyed once the vote adjusts the ethical level of an element. We keep all information private and will only refer to votes in aggregate.">Privacy Policy</a></p>
                </div>
            </div>
            <!-- /.container -->
        </footer>
        <aside id="controlMenu" class="sidebar">
          <h3>Ethics and Persuasion</h3>
          <section class="instructions">
            <p>The <i class="fa fa-2x fa-eye"></i> control allows you to highlight, and adjust the ethical level of, each element of persuasion shown. Should you disagree with the ethical level shown for any specific persuasive element, check <em>I disagree with this rating</em> and select the ethical level you believe that persuasive element is demonstrating. To hide the ethical controls, simply click the <i class="fa fa-2x fa-eye-slash"></i> control.</p>
            <p> Use the controls below to select which types of persuasion are shown when the <i class="fa fa-2x fa-eye"></i> control is used. Simply select which types you would like highlighted. You can also reset the ethical levels of all types of persuasion shown by using the master reset control. To close this sidebar, click the <i class="fa fa-2x fa-times"></i> control.</p>
          </section>
          <section class="typeControls">
            <h4>Types of Persuasion to highlight</h4>
            <div class="form-group">
              <div class="checkbox" v-for="(type, i) in persuasiveTypes">
                <label>
                  <input type="checkbox" :checked="typesToShow[type.value]" @change="toggleTypeToShow(type.value)" :value.number="type.value">
                  {{ type.text }}
                </label>
              </div>
            </div>
          </section>
        </aside>
        <div class="modal fade" id="voteRecorded" tabindex="-1" role="dialog" aria-labelledby="voteRecordedLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="voteRecordedLabel">Your vote has been recorded!</h4>
              </div>
              <div class="modal-body">
                <p>Thank you! Your vote to change the ethical level of <em>{{ msg }}</em> from <em>{{ oldLevel }}</em> to <em>{{ newLevel }}</em> has been recorded.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/x-template" id="control-template">
        <div :class="classObject">
          <slot :theData="childData">
            <p>No child template specified!</p>
          </slot>
          <div v-show="open && show[type]" class="controlsWrapper form-group form-group-sm">
            <transition name="fade">
              <template v-if="!userDisagrees">
                <span>
                  <label>Current ethical level&nbsp;<i data-toggle="tooltip" data-placement="top" :data-original-title="options[childData.currentLevel].definition" class="fa fa-2x fa-info-circle pull-right"></i>
    </label>
                  <select class="form-control" v-model="childData.currentLevel">
                    <option disabled>Select an ethical level</option>
                    <option v-for="option in options" :value.number="option.value">{{option.text}}</option>
                  </select>
                </span>
              </template>
              <template v-else>
              <div>
                Current level is <strong>{{ options[childData.currentLevel].text}}</strong><i data-toggle="tooltip" data-placement="top" :data-original-title="options[childData.currentLevel].definition" class="fa fa-2x fa-info-circle pull-right"></i>
              </div>
              </template>
            </transition>
            <div class="checkbox">
              <label>
              <input type="checkbox" v-model="userDisagrees">
                I disagree with this rating
              </label>
            </div>
            <transition name="fade">
              <template v-if="userDisagrees">
                <span>
                  <label>New ethical level&nbsp;<i data-toggle="tooltip" data-placement="top" :data-original-title="options[newEthicalLevel].definition" class="fa fa-2x fa-info-circle pull-right"></i></label>
                  <select class="form-control" v-model="newEthicalLevel">
                    <option disabled>Select an ethical level<i data-toggle="tooltip" data-placement="top" :data-original-title="options[newEthicalLevel].definition" class="fa fa-2x fa-info-circle pull-right"></i></option>
                    <option v-for="option in options" :value.number="option.value">{{option.text}}</option>
                  </select>
                  <button class="btn btn-primary btn-sm btn-block" :disabled="this.newEthicalLevel === this.childData.currentLevel" @click.prevent="updateEthicalLevel()">Adjust rating</button>
                </span>
              </template>
            </transition>
          </div>
        </div>
      </script>
      <script type="text/x-template" id="testimonial-template">
        <div class="testimonialContainer clearfix">
          <div class="faceContainer">
              <img :src="tPic">
          </div>
          <div class="infoBlock">
            <span class="name">{{ tName }}</span>
            <span class="title">{{ tTitle }}</span>
            <span class="hearts">
              <i class="fa fa-2x fa-heart"></i>
              <i class="fa fa-2x fa-heart"></i>
              <i class="fa fa-2x fa-heart"></i>
              <i class="fa fa-2x fa-heart"></i>
              <i class="fa fa-2x fa-heart"></i>
            </span>
          </div>
        </div>
      </script>
      <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
      <script type="text/javascript" src="bower_components/slidereveal/dist/jquery.slidereveal.min.js"></script>         
      <script type="text/javascript" src="js/bootstrap.min.js"></script>         
      <script type="text/javascript" src="js/plugins.js"></script>
      <script type="text/javascript" src="js/bskit-scripts.js"></script>         
      <script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>         
      <!-- Utility functions and variables -->
      <script type="text/javascript" src="js/Utils.min.js"></script>
      <script type="text/javascript" src="js/main.min.js"></script>
    </body>     
</html>
